:root {
    --primary-color: #212121; 
    --secondary-color:#FFF;
    --background-color:#2F303A; 
    --text-color: #757575;
    --accent-color: #2196F3;
}

body {
    color: var(--text-color);
}

h1, h2, h3  {
    color: var(--primary-color);
}
h1, h2, h3, p, button, ul 
{
    margin: 0;
    padding: 0;
 }
 ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
  }
.header{
    padding: 24px 0 25px  ;
}

.logo{
    color: #2196F3;
font-family: "Raleway",sans-serif;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.78px;
}
.webstudio-logo{
    color: #000;
}

.nav-list-link{
    color: #212121;
font-family:"Roboto",sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;
}

.nav-list-link1{
    color: #212121;
font-family:"Roboto",sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;
}
.nav-list-link{
    color: #212121;
font-family:"Roboto",sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;
}

.contact-link{
    color: #212121;
font-family:"Roboto",sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;
}

.contact-link{
    color: #757575;
font-family: "Roboto",sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;  
}
.hero{
    padding: 200px 0 ;
}
.hero-title{
    color: #FFF;
text-align: center;
font-family: "Roboto",sans-serif;
font-size: 44px;
font-style: normal;
font-weight: 900;
line-height: 60px; /* 136.364% */
letter-spacing: 2.64px;
text-transform: uppercase;
}
.hero-btn{
    color: #FFF;
text-align: center;
font-family: "Roboto",sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 187.5% */
letter-spacing: 0.96px;
}
.features{
    padding: 94px 0  ;
}
.features-list-item{
    color: #212121;
font-family: "Roboto",sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
}
.features-list-item{
    color: #212121;
font-family: "Roboto",sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
}
.features-list-item{
    color: #212121;
font-family: "Roboto",sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
}
.features-list-item{
    color: #212121;
font-family: "Roboto",sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
}
.features-list-info{
    color: #757575;
font-family: R"Roboto",sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: 0.42px;
}
.features-list-info{
    color: #757575;
font-family: "Roboto",sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: 0.42px;
}.features-list-info{
    color: #757575;
font-family:"Roboto",sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: 0.42px;
}.features-list-info{
    color: #757575;
font-family: "Roboto",sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: 0.42px;
}
.work{
    padding: 0 0 94px;
}
.work-title{
    color: #212121;
text-align: center;
font-family: "Roboto",sans-serif;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.08px;
}
.team{
    padding: 94px 50px 0 ;
}
.team-list-title{
    color: #212121;
text-align: center;
font-family: "Roboto",sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.48px;
}
.team-list-info{
    color: #757575;
text-align: center;
font-family: "Roboto",sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.48px;
}
.team-list-title{
    color: #212121;
text-align: center;
font-family: "Roboto",sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.48px;
}
.team-list-info{
    color: #757575;
text-align: center;
font-family: "Roboto",sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.48px;
}
.team-list-title{
    color: #212121;
text-align: center;
font-family:"Roboto",sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.48px;
}
.team-list-info{
    color: #757575;
text-align: center;
font-family: "Roboto",sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.48px;
}
.team-list-title{
    color: #212121;
text-align: center;
font-family: "Roboto",sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.48px;
}
.team-list-info{
    color: #757575;
text-align: center;
font-family: "Roboto",sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.48px;
}
.footer{
    padding: 94px 0;
}
.footer-webstudio-logo{
    color: #FFF;
    font-family: "Raleway",sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}
.footer-logo{
    color: #2196F3;
font-family: "Raleway",sans-serif;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.78px;
}
.footer-contact-city{
    color: #FFF;
font-family: "Roboto",sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: 0.42px;
}
.footer-mail-link{
    color: rgba(255, 255, 255, 0.60);
font-family: "Roboto",sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: 0.42px;
}
.footer-contact-link{
    color: rgba(255, 255, 255, 0.60);
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.42px;
    }
    
.{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0; 
}

.container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}


.element {
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
}